@import "../../style/variables";

:local(.buttonCommon) {
  padding: 10px 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  composes: ButtonText14;

  color: $black-37;

  &:hover {
    color: $black-47;
  }

  &:active {
    color: $black-87;
  }
}

//.gray :local(.buttonCommon) {
//  color: $black-37;
//
//  &:hover {
//    color: $black-47;
//  }
//
//  &:active {
//    color: $black-87;
//  }
//}

.green :local(.buttonCommon) {
  color: $green-blue;

  &:hover {
    color: $bluegreen;
  }

  &:active {
    color: $deep-teal;
  }
}

//:local(.buttonBlackOutline) {
//  composes: buttonCommon;
//  color: $black-37;
//
//  &:hover {
//    color: $black-47;
//  }
//
//  &:active {
//    color: $black-87;
//  }
//}
//
//:local(.buttonGreenOutline) {
//  composes: buttonCommon;
//  color: $green-blue;
//
//  &:hover {
//    color: $bluegreen;
//  }
//
//  &:active {
//    color: $deep-teal;
//  }
//}

