{
  "presets": [
    ["es2015", {
      "modules": false,
    }],
    "react",
    "airbnb",
  ],
  "plugins": ["transform-object-assign"],
  "env": {
    "development": {
      "presets": [],
      "plugins": []
    },
    "production": {
      "presets": [],
      "plugins": ["transform-object-assign"]
    }
  }
}
