@import "../../../style/variables";

:local(.articleSpan) {
  margin-right: 16px;
  display: inline-block;
  padding: 4px 0;
  composes: ButtonText16;
}

:local(.closed) {
  color: $black-57;
  display: inline-block;
  vertical-align: text-bottom;

  span {
    display: inline-block;
    vertical-align: sub;
    padding-left: 8px;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
  }
}

:local(.addVacancy) {
  display: inline-block;
}
