.bullButton {
  font-size: 24px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(229, 229, 234);
  color: rgb(17, 17, 17);
  border-radius: 4px;
  width: 100%;
}

.PicItem {
  position: absolute;

  background-size: cover;
  background-position: center center;

  width: 200px;
  height: 200px;

  transition: top .5s, left .5s;
  transform: translateZ(0);
}
