@import "../../style/variables";

:local(.buttonBg) {
  width: 215px;
  padding: 10px 16px;
  border-radius: 2px;
  background-color: $green-blue;
  box-shadow: 0 2px 2px 0 $black--12, 0 0 2px 0 $black--12;
  border: 0 solid transparent;
  color: $white;
  text-transform: uppercase;
  cursor: pointer;
  composes: ButtonText;
}

:local(.buttonBg):hover {
  background-color: $bluegreen;
}

:local(.buttonBg):active {
  background-color: $bluegreen-two;
}
