@import "../../style/variables";

:local(.sectionProject) {
  position: relative;
  padding: 4px 0;

  header, article {
    padding-right: 260px;
    width: 100%;
    box-sizing: border-box;
  }

  aside {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 260px;
  }

}
