@import "../../style/variables";

:local(.sectionProject) {
  position: relative;
  /*margin: 8px 0;*/
  padding: 4px 0 12px;

  header{
    cursor: pointer;
  }

  header, article {
    padding-right: 260px;
    width: 100%;
    box-sizing: border-box;
  }

  aside {
    position: absolute;
    right: 0;
    bottom: 14px;
    width: 260px;
  }

}
