@import "../style/variables";

.modal-window {
  position: fixed;
  background-color: $black-57;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s;
  text-align: center;

  &:before {
    content: " ";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }

}

