@import "../../style/variables";

:local(.sectionProject) {
  position: relative;
  border-top: 1px solid $black-12;
  padding: 13px 0;

  header, article {
    padding-right: 260px;
    width: 100%;
    box-sizing: border-box;
  }

  aside {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 260px;
  }
}
