@import "../style/variables";

:local(.header) {
  padding: 0;
  margin: 16px 0;

  :local(.wrapInput) {
    display: inline-block;
    width: 340px;
    margin-right: 16px;
  }


  /* ???????? */
  button {
    float: right;
  }
}
